@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

/* Страницы */
.main-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  padding: 0 28px 0 70px;
}

.navigation {
  display: flex;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link:focus {
  border-bottom: 2px solid #756257;
}

.navigation-link:active {
  border-bottom: 2px solid #756257;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  padding: 22px 12px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  margin-right: 20px;
  padding: 22px 12px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.notification-badge {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 1020px;
  top: 11px;
  padding: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
}

.navigation-link-form {
  display: inline-block;
  margin: 14px 0;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background: #756157;
  text-decoration: none;
}

.navigation-link-form:hover {
  background: #615048;
}

.navigation-link-form:focus {
  background: #615048;
}

.navigation-link-form:active {
  background: #756157;
}

.navigation-link-form:disabled:hover {
  background: #e5e5e5;
}

.interest-button-search:hover {
  background: #615048;
}

.interest-button-search:focus {
  background: #615048;
}

.interest-button-search:active {
  background: #756157;
}

.interest-button-search:disabled:hover {
  background: #e5e5e5;
}

.pagination {
  list-style-type: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  padding: 13px 11px;
  cursor: pointer;
}

.social-icon {
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  margin: 0;
  padding: 0;
  fill: #000000;
}

.footer-logo:hover {
  fill: #756157;
}

.footer-logo:focus {
  fill: #756157;
}

.footer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo-sedona {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 0;
}

.hero-logo-divider {
  margin-top: 25px;
}

.advantages-description-town {
  font-weight: 700;
}

.advantages-reasons {
  margin: 0;
  margin-top: 25px;
  padding: 0 274px 69px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.advantages,
.interest,
.subscribe,
.recommendation {
  text-align: center;
}

.subscribe-form {
  padding-bottom: 104px;
  display: flex;
  justify-content: center;
}

.advantages-title,
.recommendation-list-title {
  margin: 0;
  padding: 30px 85px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 112px 112px 0;
}

.advantages-title-one,
.advantages-title-five {
  margin: 0;
  padding: 102px 112.5px 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  padding: 30px 85px 102px;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.advantages-item-row-one {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-three-columns {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-description-three-columns {
  margin: 0;
  padding: 0 85px 112px;
  font-size: 18px;
  line-height: 21px;
}

.recommendarion-icon {
  padding: 81px 163px 0;
}

.recommendation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommendation-text {
  margin: 0;
  padding: 0 0 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.recommendation-list-description {
  margin: 0;
  padding: 0 85px 81px;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.interest-title {
  margin: 0;
  padding: 96px 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.recommendation-title {
  margin: 0;
  padding: 64px 348px 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-town {
  margin: 0;
  padding: 69px 290px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-title-main {
  margin: 0;
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.interest-conditions {
  margin: 0;
  padding: 20px 0 54px;
  font-size: 22px;
  line-height: 26px;
  color: inherit;
}

.subscribe-description {
  margin: 0;
  padding: 20px 0 54px;
  font-size: 22px;
  line-height: 26px;
  color: inherit;
}

.interest-conditions {
  padding: 0 304px;
}

.interest-button-search {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.subscribe-button {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  background: #68a2ca;
}

.subscribe-button:focus {
  background: #68a2ca;
}

.subscribe-button:active {
  background: #82b3d3;
}

.subscribe-button:disabled:hover {
  background: #e5e5e5;
}

.interest-button-search {
  margin: 54px 0 96px;
  padding: 8px 50px;
  background: #756157;
  border-radius: 4px;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.subscribe-email {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;
}

.subscribe {
  margin: 0;
  background-image: url("../images/Subscribe.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.advantages-list {
  margin: 0 auto;
  padding-left: 0;
}

.advantages-item-one {
  display: flex;
}

.advantages-one,
.advantages-five {
  width: 400px;
  min-height: 385px;
}

.advantages-item-five {
  display: flex;
}

.advantages-item-one,
.advantages-item-five {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-two,
.advantages-item-three,
.advantages-item-four {
  width: 400px;
  min-height: 385px;
}

.advantages-item-two,
.recommendation-item-one,
.recommendation-item-three {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-three {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-four {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation-item-one,
.recommendation-item-two,
.recommendation-item-three {
  width: 400px;
  min-height: 385px;
}

/* Каталог */
.inner-header {
  padding: 35px 70px 73px;
  background-image: url("../images/catalog/filtre-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}

.breadcrumbs-home {
  fill: #ffffff;
}

.breadcrumbs-link {
  margin-right: 28px;
  color: inherit;
}

.catalog {
  margin: 0 70px;
}

/*Фильтры каталога*/
.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.amount-block {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.amount-input-one {
  padding: 12px 20px;
  width: 143px;
  height: 48px;
  border: none;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.amount-input-two {
  padding: 12px 20px;
  width: 143px;
  height: 48px;
  border: none;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
}

.buttons-filter-inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.button-apply {
  margin-bottom: 40px;
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}

.button-apply:hover {
  background: #68a2ca;
}

.subscribe-button:focus {
  background: #68a2ca;
}

.subscribe-button:active {
  background: #82b3d3;
}

.subscribe-button:disabled:hover {
  background: #e5e5e5;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-block {
  display: flex;
}

.search-block .button {
  margin-top: auto;
  margin-left: auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.search-title {
  margin: 56px 200px 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  display: inline-block;
  margin-top: 50px;
  padding: 14px 20px;
  width: 292px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.button-active-list {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-active-list:focus {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-active-list:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.filter-active-list,
.filter-slider {
  position: relative;
  padding: 16px;
  fill: #000000;
}

.button-slider,
.button-list {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-slider:focus,
.button-list:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.filter-list {
  position: relative;
  padding: 16px;
  fill: #000000;
}

/*Карточки каталога*/
.inner-header-title {
  margin-top: 0;
}

.product-card-container {
  display: grid;

  border-bottom: 1px solid #e6e6e6;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 20px;
  margin: 40px 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 300px;
  height: 418px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-image {
  object-fit: cover;
}

.product-rating {
  padding: 9px 22px 8px 23px;
  background: #f2f2f2;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-category,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.category-price-block {
  display: flex;
  justify-content: space-between;
}

.product-cards-buttons-block {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 26px;
}

.product-card-button-more {
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.product-card-button-more:hover {
  background: #615048;
}

.product-card-button-more:focus {
  background: #615048;
}

.product-card-button-more:active {
  background: #756157;
}

.product-card-button-more:disabled:hover {
  background: #e5e5e5;
}

.product-card-button-wishlist {
  padding: 8px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.product-card-button-wishlist:hover {
  background: #68a2ca;
}

.product-card-button-wishlist:focus {
  background: #68a2ca;
}

.product-card-button-wishlist:active {
  background: #82b3d3;
}

.product-card-button-wishlist:disabled:hover {
  background: #e5e5e5;
}

.product-card-button-wishlist-rady,
.button-active {
  padding: 8px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #7db54f;
  border-radius: 4px;
  cursor: pointer;
}

.button-active:hover {
  background: #6c9e42;
}

.button-active:focus {
  background: #6c9e42;
}

.button-active:active {
  background: #7db54f;
}

.button-active:disabled:hover {
  background: #e5e5e5;
}

.product-rating-area {
  display: flex;
  justify-content: space-between;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  color: inherit;
}

/*Пагинация каталога*/
.pagination {
  display: flex;
  margin: 40px 0 60px;
}

.pagination-link {
  margin-top: 40px;
  margin-right: 8px;
  padding: 12px 25px 13px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
}

.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus {
  background: #68a2ca;
}

.pagination-link:active {
  background: #82b3d3;
}

.pagination-link:disabled:hover {
  background: #e5e5e5;
}

.pagination-dots {
  padding: 18px 30px;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-current:hover {
  background: #f2f2f2;
}

.pagination-dots {
  color: #000000;
}

/*Подписаться на рыссылку*/
.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog-title {
  margin: 0;
  padding: 96px 363px 0;
  margin-bottom: 20px;
}

.subscribe-catalog-description {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-catalog-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscribe-title,
.subscribe-catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.field-email {
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

/*Футер*/
.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 45px 0 35px;
}

.footer-contacts-phone {
  margin: 0 234px 0 237px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo-block {
  margin-right: 70px;
}
